# remote storage process (runs as nobody)
type rmt, domain;
type rmt_exec, exec_type, file_type;

# Started by init
init_daemon_domain(rmt)

# Drop (user, group) to (nobody, nobody)
allow rmt self:capability { setuid setgid };

# opens and reads /dev/block/mmcblk0
allow rmt root_block_device:blk_file r_file_perms;
allow rmt block_device:dir r_dir_perms;

# Allow reads/writes to modem related block devices
allow rmt modem_block_device:blk_file rw_file_perms;

# Allow shared memory logging access
allow rmt shared_log_device:chr_file rw_file_perms;

allow rmt self:socket create_socket_perms;
allow rmt cgroup:dir { create add_name };

# Wake lock access
wakelock_use(rmt)
allow rmt self:capability { dac_override setuid setgid setpcap net_raw sys_admin };

# Allow access to /dev/uio0.
allow rmt uio_device:chr_file { read write open create };
allow rmt block_device:dir search;
allow rmt uio_device:chr_file r_file_perms;
allow rmt sysfs:file read;

allow rmt sysfs_rmt:dir r_dir_perms;
allow rmt sysfs_rmt:file rw_file_perms;
allow rmt { sysfs sysfs_rmt }:filesystem associate;
allow rmt sysfs_rmt:lnk_file read;
allow rmt sysfs_rmt:dir read;
allow rmt sysfs:file { open append read getattr write };
allow rmt sysfs:dir rw_dir_perms;

# rmt_storage shuts itself down if there is an unknown value of ro.baseband
unix_socket_connect(rmt, property, init)
allow rmt ctl_rmt_prop:property_service set;
